body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}


nav {
    background-color: #003079;
}

.navbar {
    display: flex;
    background-color: #003079;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navling {
    list-style: none;
    display: flex;
}

.navling li {
    margin: 0 30px;
    margin-top: 8px;
}

.navling a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.navling a:hover {
    background-color: white;
    color: black;
}

.logo .foto-logo {
    height: 4vh;
}

input {
    display: flex;
    height: 2.5vh;
    width: 10vw;
    margin-right: 20px;
}

.logoo {
    background-color: white;
    border-radius: 50%;
    margin-left: -5px;
}

i {
    color: white;
    width: 50px;
}

.search {
    display: flex;
    align-items: center;
}

.beranda {
    position: relative;
    text-align: center;
    color: white;
}

.beranda img {
    width: 100%;
    height: auto;
}

.beranda .awal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beranda h1 {
    font-size: 6vw;
    text-shadow: 10px 10px 10px black;
    margin: 0;
    margin-top:-20%;
}

.beranda h3 {
    font-size: 3vw;
    text-shadow: 10px 10px 10px black;
    margin: 10px;
}

.beranda p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 10px 10px 5px black;
    font-size: 1vw;
}

.judul {
    text-align: center;
    margin-bottom: 100px ;
    font-size: 1.5vw;
}

.judul h1 {
    color: #00388C;
}

.judul2 {
    text-align: start;
    margin-left: 50px;
    font-size: 1.5vw;
    margin-bottom: 4vh;
}

.wadah-buku {
    padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.buku {
    display: flex;
  overflow-x: auto; /* Enable scroll horizontal */
  gap: 20px; /* Jarak antar card */
  padding: 20px;
  max-width: 90%; /* Menyesuaikan lebar layar */
  scroll-behavior: smooth; /* Agar scroll terasa lebih halus */
}
.card {
    background-color: #F6F5F2;
    border-radius: 50px;
    box-shadow: 0 5px 10px black;
    width: 200px;
    height: 400px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 5px 30px black;
}

.card img {
    width: 200px;
    height: 250px;
    min-width: 200px;
    min-height: 250px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 10px 10px black;
    margin-top: 20px;
}

.card h3 {
    font-size: 16px;
    margin: 10px 0 0;
    color: black;
    opacity: 70%;
}

.heart-icon {
    font-size: 20px;
    color: black;
}

.judul3 {
    text-align: start;
    margin-left: 50px;
    font-size: 1.5vw;
    margin-bottom: 4vw;
}

/* css profil.html*/

.Fasilitas{
text-align: start;
    margin-left: 50px;
    font-size: 1.5vw;
    margin-bottom: 4vh;
    color: #00388C;
}

/*css ngerambati.html*/




/*css wilis.html*/