body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}


nav {
    background-color: #4C585B;
}

.navbar {
    display: flex;
    background-color: #4C585B;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navling {
    list-style: none;
    display: flex;
}

.navling li {
    margin: 0 30px;
    margin-top: 8px;
}

.navling a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    transition: 0.3s;
}

.navling a:hover {
    background-color: white;
    color: black;
}

.logo .foto-logo {
    height: 40px;
}

input {
    display: flex;
    height: 25px;
    width: 100px;
    margin-right: 20px;
}

.logoo {
    background-color: white;
    border-radius: 50%;
    margin-left: -5px;
}

i {
    color: white;
    width: 50px;
}

.search {
    display: flex;
    align-items: center;
}

.beranda {
    height: 100vh;
    background-image: url('foto/beranda-crop.jpg');
    background-size: cover;
    border-radius: 2%;
    margin-top: -50px;
}

.beranda .text-beranda {
    margin-top: -260px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 130px;
  white-space: nowrap;
  text-shadow: 10px 10px 10px black;
}

.beranda .text-beranda2 {
    margin-top: -140px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 50px;
  white-space: nowrap;
  text-shadow: 10px 10px 10px black;
}

.beranda .text-beranda3 {
    margin-top: -30px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 23px;
  white-space: nowrap;
  text-shadow: 20px 10px 10px black;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}